{% extends 'blogs/include/base.html' %}
{% block content %}

<div class="px-5 pt-5">
    <form method="POST" action="">
        {% csrf_token %}
        <p class="pt-3">
            <p>Username : </p>
            <input type='text', name='username'>
        </p>
        <p class="pt-3">
            <p>Password : </p>
            <input type='password', name='password'>
        </p>
        <p class="pt-3">
            <input class="btn btn-primary" type="submit" value="Login">
        </p>
    </form>
    <br>
    {% if messages %}
      {% for message in messages %}
        <p class="alert alert-dark">
            {{message}}
        </p>
      {% endfor %}
    {% endif %}
    <br>
    
</div>
{% endblock %}